<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MicroSharpGanttChart.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="WriteableBitmapEx.Wpf" publicKeyToken="50375ca6144f1c69" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.6.8.0" newVersion="1.6.8.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
  <userSettings>
    <MicroSharpGanttChart.Settings>
      <setting name="Language" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PasswordLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PasswordLoginStr" serializeAs="String">
        <value />
      </setting>
      <setting name="ConfirmExiting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConfirmRestart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChartBG" serializeAs="String">
        <value>240, 230, 250</value>
      </setting>
      <setting name="UseSystemColorPicker" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DaysInChart" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="ShowBackDays" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowNowIndicator" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EndHourInDay" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="StartHourInDay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveAndCloseSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="indicatorBottomTriangle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="indicatorTopTriangle" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="defaultTimeBlockText" serializeAs="String">
        <value>New TimeBlock</value>
      </setting>
      <setting name="defaultTimeBlockVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="defaultTimeBlockHatched" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defaultTimeBlockBackColor" serializeAs="String">
        <value>190, 130, 120</value>
      </setting>
      <setting name="defaultTimeBlockAddHour" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="askCountDeleteEverything" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="indicatorColor" serializeAs="String">
        <value>Red</value>
      </setting>
    </MicroSharpGanttChart.Settings>
  </userSettings>
</configuration>